# Dependencies
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Editor and IDE specific files
.vscode/
.idea/

# Compiled files and build artifacts
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist
/node_modules
/tmp
/out
/.next

# Environment variables
.env

# Miscellaneous
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
