/** ==================== Top Section ==================== */
.portfolio-page-parent {
  height: 150px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.section-a {
  display: flex;
  height: 80px;
  justify-content: baseline;
  align-items: flex-end;
}
.section-a > img {
  height: 31px;
  width: 93px;
  margin: 10px 40px 10px 28px;
}
.settings {
  height: 24px;
  width: 24px;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-bottom: 6px;
  margin-left: 310px;
}
.dot-grid-2 {
  height: 24px;
  width: 24px;
}
.section-b {
  height: 69px;
  display: flex;
  padding-top: 15px;
  padding-left: 164px;
}
.top-svg {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  fill: #4285f4;
}
.top-btn {
  width: fit-content;
  margin-right: 12px;
  border: 1px solid lightgray;
  height: fit-content;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools-text {
  padding-top: 12px;
  margin-left: 135px;
  font-size: 14px;
}
