.top-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 2px;
  word-spacing: 10px;
}
.dot-grid {
  height: 24px;
  width: 24px;
  margin: 12px 20px;
}
.user-logo-style {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.image {
  text-align: center;
  padding-top: 50px;
}
.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.input-bar {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 584px;
  height: 46px;
  border: 1px solid lightgray;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}
.input-bar > p {
  margin-right: 25px;
  margin-left: 20px;
}
.search-icon {
  height: 20px;
  width: 20px;
  margin: 0 -8px 0 15px;
}
.cross {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}
.d-none {
  display: none;
}
.spacer {
  background-color: #dadce0;
  height: 25px;
  width: 1px;
}
.mic {
  height: 24px;
  width: 24px;
  margin: 0 20px 0 20px;
}
.camera {
  height: 24px;
  width: 24px;
}

.search-buttons {
  display: flex;
  justify-content: center;
  padding: 10px 0 25px 0;
}
.btn {
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #f2f2f2;
  font-size: 15px;
}
.btn:hover {
  border: 1px solid lightgray;
}
.search-buttons > a {
  font-size: 15px;
}
.search-button {
  margin-right: 15px;
  flex-wrap: wrap;
  width: 142px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}
.feeling-lucky {
  width: 142px;
}

.languages {
  display: flex;
  justify-content: center;
  font-size: 13px;
}
.languages-text {
  color: blue;
  word-spacing: 10px;
  padding-left: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-one {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
  background-color: #f2f2f2;
}
.footer-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
  background-color: #f2f2f2;
  word-spacing: 10px;
}
